@font-face {
  font-family: "Unica One";
  src: local("Unica One Regular"), local("UnicaOne-Regular"),
    url("./fonts/UnicaOne-Regular.woff2") format("woff2"),
    url("./fonts/UnicaOne-Regular.woff") format("woff"),
    url("./fonts/UnicaOne-Regular.ttf") format("truetype"),
    url("./fonts/UnicaOne-Regular.svg#UnicaOne-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: local("Schibsted Grotesk"),
    url("./fonts/SchibstedGrotesk-VariableFont_wght.ttf") format("truetype");
}
