@import "./fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Unica One";
  font-size: 60px;
}

p,
li,
a {
  font-family: "Schibsted Grotesk";
  font-weight: bold;
}
